body {
  background-image: url("./image/backgroundMario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  width: 100%;
  margin: 0;
  font-family: 'Press Start 2P', cursive;

}


/* #zone-de-MenuChoixUtilisateur {
  background-image: url(fond-jeux.gif);
  width: 1000px;
  margin: auto;
  height: 390px;
  border: 1px black solid;
  position: relative;
  z-index: 1;
  margin-top: 13%;
} */

#zone-de-Menu {
  /* background-image: url(fond-jeux.gif); */
  /* background-color: rgb(0, 132, 255); */
    background: linear-gradient(180deg, BLUE,white);

  width: 1000px;
  margin: auto;
  height: 390px;
  /* border: 1px black solid; */
  position: relative;
  z-index: 1;
  margin-top: 13%;
    /* filter: drop-shadow(0 0 6px black); */

}

#monH1Menu{
  /* color:brown; */
  position:absolute;
  color: gold;
  text-shadow: -5px -5px 5px black;
  font-size: 25px ; 
  left:110px;
  top:60px;
  
}

/* body {
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(180deg, purple,white);

  background-repeat: no-repeat;
} */





#choixPersonnageMario{
    position: absolute;
    top: 135px;
    left: 204px;
    width: 24%;
    height: 42%;
      /* filter: drop-shadow(0 0 6px black); */

}
#choixPersonnageMario:hover{
    filter: drop-shadow(0 0 6px black);

}

#choixPersonnageLuigi{
 position: absolute;
    top: 132px;
    left: 541px;
    height: 43%;
    width: 20%;
      /* filter: drop-shadow(0 0 6px black); */


}
#choixPersonnageLuigi:hover {
  /* background-color: blue; */
  filter: drop-shadow(0 0 6px black);
}







#zone-de-jeu {
  background-image: url("./image/fond-jeux.gif");
  width: 1000px;
  margin: auto;
  height: 390px;
  /* border: 1px black solid; */
  position: relative;
  z-index: 1;
  margin-top: 13%;
  display: none;
}






#monCv {
  background-image: url("MonCv.pdf");
  width: 200px;
  margin: 200px auto;
  height: 200px;
  position: relative;
}
#toad {
 position: absolute;
    overflow: hidden;
    width: 80px;
    height: 94px;
    top: 60px;
    left: 238px;
}
#toad:hover {
  /* background-color: blue; */
  filter: drop-shadow(0 0 6px black);
}
#Etoile {
    position: absolute;
    overflow: hidden;
    width: 102px;
    height: 102px;
    top: 57px;
    left: 317px;
}

#Etoile:hover {
  /* background-color: blue; */
  filter: drop-shadow(0 0 6px black);
}

#logoGithub {
    position: absolute;
    left: 131px;
    width: 100px;
    height: 103px;
    top: 60px;
}

#logoGithub:hover {
  filter: drop-shadow(0 0 3px black);
}

#gitcvdl {
  position: absolute;
  top: 30px;
  width: 17%;
  left: 11%;
}

/* sprite de Mario */
#contenu {
  position: absolute;
  overflow: hidden;
  top: -47px;
  left: -210px;
}
/* masque de Mario */
#container {
  /* masque */
  position: absolute;
  overflow: hidden;
  width: 40px;
  /* border: 1px black solid;*/
  height: 44px;
  
  /* top: 321px;
    left: 0px; */
  /*animation: bouge 0.2s 0s 1 alternate ease-out*/
}

@keyframes saut {
  0% {
    top: 321px;
    /* coordonnées de départ du saut */
  }
  50% {
    top: 240px;
  }
  100% {
    top: 321px;
    /* coordonnées final du saut */
  }
}

#MasqueDeBowser {
  position: absolute;
  overflow: hidden;
  width: 68px;
  height: 50px;
  top: 302px;
  left: 766px;
  /* border: 1px black solid;*/
}

#spriteBowser {
  left: -17px;
  position: absolute;
  overflow: hidden;
  width: 1092px;
  height: 2024px;
  top: -97px;
}

#iDscore {
  /*border: 1px black solid;*/
  /* border: 1px black solid; */
  position: absolute;
  overflow: hidden;
  display: inline-block;
  width: 291px;
  height: 40px;
  top: 6px;
  left: 7px;
}
/* Point de vie de Mario */
#vieMario1,
#vieMario2,
#vieMario3,
#vieMario4 {
  width: 31px;
  height: 33px;
}
#divGameOver {
  width: 1000px;
  margin: 160px auto;
  height: 391px;
  /* border: 1px black solid;*/
  position: absolute;
  display: none;
  z-index: 2;
  left: 154px;
}

#gameOver {
  top: -160px;
  left: -154px;
  width: 100%;
  height: 100%;
  position: absolute;
}

#buttonRestart {
  position: absolute;
  width: 100px;
  left: 441px;
  cursor: pointer;
  z-index: 3;
  left: 294px;
}

#divRecupDiversLogo {
  top: 581px;
  position: absolute;
  display: inline-block;
  display: flex;
}

#recuPlogoHtml5 {
  display: none;
  width: 96px;
  height: 94px;
}
#MasqueDuLogoHTML5 {
  position: absolute;
  overflow: hidden;
  width: 1000px;
  height: 1000px;
}

#logoHTML5 {
  position: absolute;
  overflow: hidden;
  width: 40px;
  height: 40px;
  top: 238px;
  left: 225px;
  /*animation: deplacement 0.2s 0s 1 alternate ease-out ;*/
}
/* Deplacement du logoHTML5 */
@keyframes deplacementDuLogoHTML5 {
  0% {
    top: 236px;
    /* coordonnées de départ du logo */
  }
  50% {
    top: 20px;
  }
  100% {
    top: 236px;
    /* coordonnées final du logo */
  }
}

#MasqueDuLogoCSS3 {
  position: absolute;
  overflow: hidden;
  width: 1000px;
  height: 1000px;
}

#logoCSS3 {
  position: absolute;
  overflow: hidden;
  width: 40px;
  height: 40px;
  top: 138px;
  left: 373px;
  /*animation: deplacementDulogoCSS3 0.8s 0s 1 alternate ease-out;*/
}

@keyframes deplacementDulogoCSS3 {
  0% {
    top: 80px;
    /* coordonnées de départ du logo */
  }
  50% {
    top: 100px;
  }
  100% {
    top: 236px;
    /* coordonnées final du logo */
  }
}

#recuPlogoCSS3 {
  width: 84px;
  display: none;
  height: 84px;
}

#MasqueDuLogoJS {
  position: absolute;
  overflow: hidden;
  width: 1000px;
  height: 1000px;
}

#logoJS {
  position: absolute;
  overflow: hidden;
  width: 56px;
  height: 45px;
  top: 180px;
  left: 607px;
  /*animation: deplacementDulogoCSS3 0.8s 0s 1 alternate ease-out;*/
}

#recuPlogoJS {
  width: 120px;
  display: none;
  height: 107px;
}

@keyframes deplacementDulogoJS {
  0% {
    top: 1px;
    /* coordonnées de départ du logo */
  }
  50% {
    top: 10px;
  }
  100% {
    top: 236px;
    /* coordonnées final du logo */
  }
}

#youWin {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

#son {
  top: 0px;
  left: 1140px;
  position: absolute;
}

h2{
 position:absolute;
  color: gold;
  text-shadow: -5px -5px 5px black;
  /* font-size: 25px ;  */
  left:350px;
  top:580px; 

}
#pcolor1 {
  position:absolute;
  color: gold;
  text-shadow: -5px -5px 5px black;
  /* font-size: 25px ;  */
  left:300px;
  top:630px; 
  /* filter: drop-shadow(0 0 10px red); */
  /* font-family: 'Press Start 2P', cursive; */

}

#pcolor2 {
  position:absolute;
  color: gold;
  text-shadow: -5px -5px 5px black;
  /* font-size: 25px ;  */
  left:500px;
  top:630px; 
}

#pcolor3 {
  position:absolute;
  color: gold;
  text-shadow: -5px -5px 5px black;
  /* font-size: 25px ;  */
  left : 880px;
  top:630px; 
}
